<div class="meta article-card">
    <div class="row">
      <span class="label">{{ partial "utils/icons" "calendar-sharp" }}{{ i18n "publishedAt" }}</span><time>{{ .PublishDate.Local.Format "2006-01-02" }}</time>
      {{ if ne .Lastmod .PublishDate }}({{ i18n "updatedAt" }}<time>{{ .Lastmod.Local.Format "2006-01-02" }}</time>){{ end }}
    </div>

    {{ with .Params.tags }}
      <div class="row">
        <span class="label">{{ partial "utils/icons" "pricetags-sharp" }}{{ i18n "taggedWith" }}</span>
        <ul class="tags">
        {{ range . }}
          <li class="hashed-tag"><a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
      </div>
    {{ end }}

    {{ with .Site.Params.extraMeta }}
      <div class="row">
      {{ . | safeHTML }}
      </div>
    {{ end }}
</div>
